.navbar{
background:#DA70D6;
}
.nav-link , .navbar-brand{
color: #483D8B;
cursor: pointer;
}
.nav-link{
margin-right: 1em !important;
}
.nav-link:hover{
background: #f4f4f4;
color: #006400;
}
.navbar-collapse{
justify-content: flex-end;
}
.navbar-toggler{
background:#fff !important;
}
.header{
background-image: url(https://img.freepik.com/free-photo/closeup-rainbow-spring-toy-background_53876-33620.jpg?w=826&t=st=1664298616~exp=1664299216~hmac=aae937b0ea606a8849f19023ed0c3aba728e032f72e3b1e68dec382f79817873);
background-attachment: fixed;
background-size: cover;
background-position: center;
}
.overlay{
position: absolute;
min-height: 100%;
min-width: 100%;
left: 0;
top: 0;
background: rgba(233, 234, 234, 0.69);
}


.description{
position: absolute;
top: 30%;
margin: auto;
padding: 5em;
}
.description h1{
color:#F97300 ;
}
.description p{
color:#000000;
font-size: 20px;
width: 50%;
line-height: 1.75;
}
.description button{
border:1px solid #F97300;
background:#9400D3;
color:#fff;
}

.about{
margin: 2em 0;
padding: 1em;
position: relative;
}
.about h1{
color:	#000080;
margin: 1.2em;
}
.about img{
height: auto;
width: 100%;
border-radius: 100%
}
.about span{
display: block;
color: #2F4F4F;
position: absolute;
left: 115px;
}
.about .desc{
padding: 1.5em;
border-left:4px solid #10828C;
}
.about .desc h3{
color: #10828C;
}
.about .desc p{
line-height:3;
color:#888;
}

.n1{font-size: xx-large;}

/*Portfolio*/
.portfolio{
 margin: 4em 0;
 position: relative; 
}
.portfolio h1{
 color:	#BA55D3;
 margin: 2em; 
}
.portfolio img{
height: 15rem;
width: 100%;
margin: 1em;
}


.blog{
 margin: 4em 0;
 position: relative; 
}
.blog h1{
 color:	#BA55D3;
 margin: 2em; 
}
.blog .card{
 box-shadow: 0 0 20px #ccc;
}
.blog .card img{
 width: 90%;
 height: 11em;
}
.blog .card-title{
 color:	#BA55D3;
}
.blog .card-body{
 padding: 1em;
}


.team{
 margin: 4em 0;
 position: relative; 
}
.team h1{
 color:	#DA70D6;
 margin: 2em; 
}
.team .item{
 position: relative;
}
.team .des{
 background:#DA70D6;
 color:#483D8B;
 text-align: center;
 border-bottom-left-radius: 95%;
 transition:.3s ease-in-out;
}

.team .item:hover .des{
 height: 100%;
 background:#D8BFD8;
 position: absolute;
 width: 89%;
 padding: 4em;
 top: 0;
 border-bottom-left-radius: 1;
}

.contact-form{
 margin: 6em 0;
 position: relative; 
}
.contact-form h1{
 padding:2em 1px;
 color: #9932CC; 
}
.contact-form .right{
 max-width: 600px;
}
.contact-form .right .btn-secondary{
 background:#8A2BE2;
 color: #fff;
 border:0;
}
.contact-form .right .form-control::placeholder{
 color: #888;
 font-size: 16px; }

.n2{ font-size: x-large;}


 @import url('https://fonts.googleapis.com/css?family=Raleway');



 *{
 font-family: "Raleway";
}